.edit-form{
    width: 90%; 
    height: fit-content; 
    background-color:  #f2f2f2;;
    padding: 20px 20px 20px 20px;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 30px;
}

.center{
    margin: auto;
}

.edit-button-center {
    width: 290px;
    height: 45px;
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 3px;
    outline: none;
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
  }

  .edit-button-container{
      display: flex;
      width: 100%;
  }